<p>sells works!</p>
<p>{{this.user_id}}</p>
<button (click)="getSellsByUserID()">ShowSells</button>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Cost</th>
                <th>Date start</th>
                <th>Date end</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tour of tours">
                <td>{{tour.name}}</td>
                <td>{{tour.cost}}</td>
                <td>{{tour.date_start}}</td>
                <td>{{tour.date_end}}</td>
            </tr>
            </tbody>
        </table>
