<main class="main">
    <div class="about">
        <div class="info-block">
            <h2>О компании Unlimited Vacation</h2>
            <ul>
                <li>Почему Unlimited Vacation</li>
                <li>Как купить тур?</li>
                <li>Отзывы клиентов</li>
                <li>Вопросы</li>
            </ul>
        </div>
        <div class="about__container">

            <div class="about__block1">
                <div class="about__text-block1">
                    <h1>Мы гордимся тем, что</h1>
                    <p>Наши клиенты доверяют нам свой отдых и выбирают нас вновь и вновь. Наша команда турагентов стремится сделать каждое путешествие незабываемым, предлагая только лучшие туры и услуги по выгодным ценам. Присоединяйтесь к числу наших довольных клиентов и отправляйтесь в увлекательные приключения с нами!
                        Почему Unlimited Vacation?
                        <br>
                        <br>
                        <b>Unlimited Vacation</b> - профессиональное туристическое агентство, которое предоставляет широкий выбор туров и путешествий по всему миру. Компания заботится о своих клиентах и предлагает только проверенные и надежные услуги, а также организует индивидуальные туры, учитывая пожелания каждого клиента. Наша компания находится на рынке туризма уже несколько лет, и мы гордимся тем, что оказываем высококачественные услуги для наших клиентов.
                        добавь это в текст </p>
                </div>
            </div>

            <!-- <div class="about__block2">
              <div class="about__image-container2">
                <img src="https://example.com/image2.jpg" alt="Описание изображения">
              </div>
              <div class="about__text-container2">
                <h1>Заголовок 2</h1>
                <p>Текст 2</p>
              </div>
            </div> -->

        </div>
    </div>
</main>

<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
