<!--<main class="main">-->
<!--    <section class="contacts">-->
<!--        <div class="contacts__container container">-->
<!--            <h1 class="contacts__title">Контакты турагентства "Unlimited Vacation" в Казахстане</h1>-->
<!--            <h1 class="contacts__button"><a>Алматы</a></h1>-->
<!--            <div class="contacts__info">-->
<!--                <div class="contacts__column">-->
<!--                    <div class="contacts__contact">-->
<!--                        <img class="contacts__phone-icon" src="assets/img/contact/phone.svg" alt="Фото телефона">-->
<!--                        <h2 class="contacts__subtitle" >Телефоны</h2>-->
<!--                        <p class="contactstext">Мобильный: <a class="contactslink" href="tel:+77777777777">8 (777) 777-77-77</a></p>-->
<!--                    </div>-->
<!--                    <div class="contacts__column">-->
<!--                        <div class="contacts__info-block">-->
<!--                            <div class="contacts__info-text">-->
<!--                                <img src="assets/img/contact/pin.svg" alt="Время работы" class="contacts__icon">-->
<!--                                <h2 class="contacts__subtitle" >Адрес в г. Алматы</h2>-->
<!--                                <p class="contacts__text">улица Толе Би 59</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="contacts__info-block">-->
<!--                            <img src="assets/img/contact/time.svg" alt="Время работы" class="contacts__icon">-->
<!--                            <div class="contacts__info-text">-->
<!--                                <h2 class="contacts__subtitle">Часы работы</h2>-->
<!--                                <p class="contacts__text">с 10:00 до 17:00</p>-->
<!--                                <p class="contacts__text">Суббота: с 10:00 до 15:00</p>-->
<!--                                <p class="contacts__text">Воскресенье: Выходной</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="contactscolumn contactscolumn&#45;&#45;image">-->
<!--                    <img class="contacts__image" src="assets\img\contact\div.png" alt="Фотография">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="contacts__lowertxt">-->
<!--                <p class="contactstext">По вопросам контроля качества обслуживания обращаться в администрацию, по телефону <a class="contactslink" href="tel:+77777777777">+7 (777) 777-77-77</a> в будние дни, с 10:00 до 17:00.</p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
<!--</main>-->

<!--<!DOCTYPE html>-->
<!--<html lang="ru">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <link rel="preconnect" href="https://fonts.googleapis.com">-->
<!--    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->
<!--    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&family=Open+Sans:wght@300;400;600;700&family=Work+Sans:wght@500&display=swap" rel="stylesheet">-->
<!--    <link rel="stylesheet" href="css/style.css">-->
<!--    <title>Unlimited Vacation</title>-->
<!--</head>-->

<main class="main">
    <section class="contacts">
        <div class="contacts__container container">
            <div class="contacts__body">
                <h1 class="contacts__title">Контакты турагентства Unlimited Vacation в Казахстане</h1>
                <button class="contacts__btn">Алматы</button>
                <div class="contacts__content">
                    <div class="contacts__info">
                        <div class="contacts__items">
                            <div class="contacts__item item-contacts">
                                <div class="item-contacts__img">
                                    <img src="assets/img/contact/01.svg" alt="phone">
                                </div>
                                <div class="item-contacts__body">
                                    <div class="item-contacts__label">Телефоны</div>
                                    <div class="item-contacts__subtitle">Мобильный:</div>
                                    <a href="tel:87777608382" class="item-contacts__phone">8 (777) 760-83-82</a>
                                </div>
                            </div>
                            <div class="contacts__item item-contacts">
                                <div class="item-contacts__img">
                                    <img src="assets/img/contact/02.svg" alt="phone">
                                </div>
                                <div class="item-contacts__body">
                                    <div class="item-contacts__label">Адрес в г.Алматы</div>
                                    <div class="item-contactssubtitle item-contactssubtitle--big">улица Толе Би 59</div>
                                </div>
                            </div>
                            <div class="contacts__item item-contacts">
                                <div class="item-contacts__img">
                                    <img src="assets/img/contact/03.svg" alt="phone">
                                </div>
                                <div class="item-contacts__body">
                                    <div class="item-contacts__label">Часы работы</div>
                                    <div class="item-contactssubtitle item-contactssubtitle--big">
                                        <p>
                                            с 10:00 до 17:00
                                        </p>
                                        <p>
                                            Суббота: с 10:00 до 15:00
                                        </p>
                                        <p>
                                            Воскресенье: Выходной
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="map" class="contacts__map"></div>
                </div>
                <div class="contacts__text">
                    <p>
                        По вопросам контроля качества обслуживания обращаться в администрацию, по телефону
                        <a href="tel:+77777608382">+ 7 (777) 760-83-82</a> в будние дни, с 10:00 до 17:00.
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>