<div class="all">
    <div class="container">
        <div class="title">
        <h2>Отели с турами от турагентства Unlimited Vacation</h2>
        </div>
        <div class="descriptiton">
            <p>Наша компания гордится тем, что предоставляет своим клиентам широкий выбор отелей по всему миру. Мы работаем только с лучшими отелями, которые гарантируют комфортный и качественный отдых нашим туристам. Наши клиенты имеют возможность выбрать отель, который соответствует их запросам и предпочтениям, такие как расположение, уровень комфорта, услуги и многое другое.
                Мы тщательно отбираем отели, чтобы нашим клиентам было предложено максимальное количество вариантов, подходящих их индивидуальным потребностям. Наша цель - обеспечить нашим клиентам тур, который подойдет именно им и подарит незабываемые впечатления. Наше обширное разнообразие отелей позволяет нам создавать туры, связанные с отелем, что обеспечивает уникальный и индивидуальный отдых для каждого клиента.</p>
        </div>
    </div>
    <div class="container">
        <div id="hotels_buttons" *ngFor="let hotel of hotels">
            <button type="button" (click)="onClick(hotel.id)">
                {{hotel.name}}
            </button>
        </div>

        <div *ngIf="id != undefined">
            <app-tour-list [city_id]="this.id"></app-tour-list>
        </div>
    </div>
</div>

<!--<div id="city_buttons" *ngFor="let city of cities">-->
<!--    <button type="button" (click)="onClick(city.id)">-->
<!--        {{city.name}}-->
<!--    </button>-->
<!--</div>-->


<!--<div *ngIf="id != undefined">-->
<!--    <app-tour-list [city_id]="this.id"></app-tour-list>-->
<!--</div>-->
