<div class="countries__container container">
    <div class="items">
        <div class="view">
        <p class="header"><a>Турция</a></p>
        <img class="photo" src="/assets/img/countries/Турция.svg"/>
            <div class="text">
                <p>Турция - это страна, соединяющая Европу с Ближним Востоком. Достаточно не
                простая роль в истории выпала на долю Турции. На этой земле проходило
                большое число войн, что сопровождалось сменой местного населения. На
                территории Турции распологается более двух тыс. древних поселений. Примерно
                10 тыс. лет назад началась история народов Турции. Немаловажную роль сыграли
                греки, которые заняли эту землю в XIV-XII веках до н.э., самым главным их
                вкладом было развитие торговли и мореплавания. Позже на земле Турции
                существовало множество колоний, а в VIII веке до н. э. сюда пришли фригийцы
                и ливийцы. Начина с VI века до н. э., после множественных набегов, стали
                править персы. Сегодня же отдых в Турции занимает лидирующую позицию среди
                туристических направлений…</p>
            </div>
        </div>
    </div>


    <div class="items">
        <div class="view">
        <p class="header"><a>Египет</a></p>
        <img class="photo" src="/assets/img/countries/Египет.svg"/>
            <div class="text">
                <p>Египет – это удивительная страна, окутанная тайнами древнего мира. Вряд ли
                найдётся человек, который увидев загадочные пирамиды или прекрасные
                коралловые сады Красного моря, не будет восхищён. Отправившись в путешествие
                по Египту, Вы сможете собственными руками прикоснуться к тысячелетним
                гробницам фараонов, правивших Верхним и Нижним Египтом, посетить
                титанические руины, храмы Корнака и Луксора, а также прикупить древние и
                необычные вещицы.</p>
            </div>
        </div>
    </div>


    <div class="items">
        <div class="view">
        <p class="header"><a>Тайланд</a></p>
        <img class="photo" src="/assets/img/countries/Тайланд.svg"/>
            <div class="text">
                <p>Тайланд – это красивейшее место с экзотическими растениями и животными! Если
                Вы ещё не путешествовали по этой стране, обязательно обратите на неё
                внимание. Такие замечательные курорты как Паттайя, Пхукет, Нанг, Кванг и
                другие уже не первый год восхищают туристов со всего мира. Здесь проходят
                самые зажигательные тусовки и вечеринки в Азии. В Тайланд едут, чтобы
                повеселиться в современных ночных клубах, увидеть необычные храмы и посетить
                интересные экскурсии, заняться шопингом, отведать оригинальную кухню и
                узнать культуру тайского народа. Комфортабельные отели всегда рады
                предложить туристам отличный сервис и множество развлечений.</p>
            </div>
        </div>
    </div>


    <div class="items">
        <div class="view">
        <p class="header"><a>ОАЭ</a></p>
        <img class="photo" src="/assets/img/countries/ОАЭ.svg"/>
            <div class="text">
                <p>ОАЭ – это пустыни с цветущими садами, тёплые воды Персидского залива,
                шикарные отели и множество товаров в магазинах. Объединённые Арабские
                Эмираты – это возможность окунуться в восточную экзотику, увидеть живописные
                пейзажи, узнать культурные и национальные особенности интересной страны. Во
                времена кочевых племён богатства этих место заключалось лишь в золотых
                песках и лазурных водах. С приходом цивилизации и технического прогресса
                выяснилось, что на дне океана вблизи ОАЭ есть «чёрное золото» - нефть,
                которая гораздо ценнее золотых барханов. Благодаря обнаружению нефти, эта
                страна стала очень быстро развиваться и сегодня уже очень много туристов
                стремятся попасть в Арабские Эмираты.</p>
            </div>
        </div>
    </div>


    <div class="items">
        <div class="view">
        <p class="header"><a>Испания</a></p>
        <img class="photo" src="/assets/img/countries/Испания.svg"/>
            <div class="text">
                <p>Испания – это удивительная страна, которая оставляет самые яркие впечатления
                у тех, кто в ней побывал. Это может быть поездка на побережье или
                экскурсионное путешествие по историческим достопримечательностям, в любом
                случае, Вы останетесь довольны. Испания – это красочные праздники,
                изысканные кулинарные блюда и вкус молодого вина. В любое время года, если
                Вам скучно, отправляйтесь в эту страну. Испанцы умеют веселиться от души и
                устраивать незабываемые представления. Лучшие курорты Испании изобилуют
                хорошими отелями, которые готовы предложить отличных сервис и множество
                развлечений.</p>
            </div>
        </div>
    </div>


    <div class="items">
        <div class="view">
        <p class="header"><a>Куба</a></p>
        <img class="photo" src="/assets/img/countries/Куба.svg"/>
            <div class="text">
                <p>Куба - это прекрасные и райские пляжи и удивительно красивое море, будто
                специально созданные для человека. На кубе самая подходящая погода для
                любителей отправиться на прогулку по диким тропам. Туры на Кубу с каждым
                годом становятся всё более популярными. Роскошные Кубинские отели предложат
                туристам большой спектр услуг. Для дайвинга на Кубе огромное количество
                кораллов, которые раскинулись на 10-30 метров в глубину и более чем на 10 км
                вдоль берега. Красота подводных пейзажей и большое разнообразие рыб просто
                восхищают.</p>
            </div>
        </div>
    </div>


    <div class="items">
        <div class="view">
        <p class="header"><a>Казахстан</a></p>
        <img class="photo" src="/assets/img/countries/Казахстан.svg"/>
            <div class="text">
                <p>Казахстан – огромная страна с уникальными природными ресурсами и богатым
                наследием древней культуры. Мы советуем посетить самые красивые и интересные
                места в Казахстане. Все большее число туристов стало интересоваться
                путешествиями по нашей стране. В Казахстан едут туристы из Японии, Китая,
                Германии, Англии и Кореи. Практически все виды туризма есть в нашей стране –
                развлекательный, экологический, познавательный, экстремальный и другие. Если
                взять, к примеру, Южный Казахстан, то его Золотое кольцо мало кого оставит
                равнодушным. Этот оазис южных степей обязательно нужно посетить тем, кто
                хочет познакомиться с местом, где существовали древнейшие города мира и
                караванные дороги из Китая в Европу и на Ближний Восток.</p>
            </div>
        </div>
    </div>


    <div class="items">
        <div class="view">
        <p class="header"><a>Мальдивы</a></p>
        <img class="photo" src="/assets/img/countries/Мальдивы.svg"/>
            <div class="text">
                <p>Мальдивские острова издавна были одним из самых райских уголков мира для
                отдыха с любимыми. Ведь именно здесь даже рыбы плавают парами! Каждый день
                вашего отдыха на Мальдивах будет наполнен чрезвычайно позитивными эмоциями
                от романтической атмосферы, теплого моря и красивого заката. Влюбленная пара
                не сможет устоять перед тем, чтобы провести ночь на белом песке пляжа и
                насладиться экзотической ночью! Мальдивы - это не только прекрасная
                возможность отдохнуть в одном из лучших отелей мира, среди океана и
                оригинального морского бриза с нотками экзотики, но и позволить себе
                адреналин и активный отдых в виде дайвинга или серфинга.</p>
            </div>
        </div>
    </div>


    <div class="items">
        <div class="view">
        <p class="header"><a>Малайзия</a></p>
        <img class="photo" src="/assets/img/countries/Малайзия.svg"/>
            <div class="text">
                <p>Малайзия - это уникальная страна Азии, которая смогла соединить в себе и
                ультрасовременные небоскребы в Куала-Лумпуре, и оригинальную природу, и
                сказочные экологически чистые пляжи Калимантана, которые каждый год
                принимают миллионы туристов...Только эта страна всегда будет тихой гаванью
                для очень романтического и гармоничного отдыха, который в первую очередь
                представляют знаменитые Лангкави и Пенанг. Здесь часто отдыхают целой
                семьей, ведь тихий отдых с детьми в этой стране будет особенно спокойным. А
                персонал во всех гостиницах всегда принесет Вам нужную вещь еще до того, как
                Вы о ней подумаете!</p>
            </div>
        </div>
    </div>



</div>
  