<footer class="footer">
    <div class="footer__container container">
        <div class="footer__body-top">
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__item"><a href="#" class="menu__link-footer" routerLink="/home">Главная</a></li>
                    <li class="menu__item"><a href="#" class="menu__link-footer" routerLink="/hottours">Горящие туры</a></li>
                    <li class="menu__item"><a href="#" class="menu__link-footer" routerLink="/countries">Страны</a></li>
                    <li class="menu__item"><a href="#" class="menu__link-footer" routerLink="/selection">Подбор тура</a></li>
                    <li class="menu__item"><a href="#" class="menu__link-footer" routerLink="/hotels">Отели</a></li>
                    <li class="menu__item"><a href="#" class="menu__link-footer" routerLink="/about">О нас</a></li>
                    <li class="menu__item"><a href="#" class="menu__link-footer" routerLink="/contact">Контакты</a></li>
                    <li class="menu__item"><a href="#" class="menu__link-footer" routerLink="/usercabinet">Кабинет туриста</a></li>
                </ul>
            </nav>
            <div class="social">
                <ul class="social__list-footer">
                    <li class="social__item">
                        <a href="#" class="social__link">
                            <img src="/assets/img/header/header-bottom/01.svg" alt="telegram">
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" class="social__link">
                            <img src="/assets/img/header/header-bottom/02.svg" alt="instagram">
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" class="social__link">
                            <img src="/assets/img/header/header-bottom/03.svg" alt="facebook">
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" class="social__link">
                            <img src="/assets/img/header/header-bottom/04.svg" alt="youtube">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__body-bottom">
            <a href="#" class="logo footer__logo">
                <img src="/assets/img/header/logo.svg" alt="logo">
                <div class="logo__title">Unlimited<br> Vacation</div>
                <div class="logo__subtitle">Главный эксперт<br> по путешествиям</div>
            </a>
            <a href="tel:87777608382" class="phone">
                <img src="/assets/img/header/header-bottom/05.svg" alt="phone">8 (777) 760-83-82
            </a>
        </div>
        <div class="footer__copy">
            <p>
                Сайт турагентства Unlimited Vacation (город Алматы, Казахстанско-Британский технический университет).
                Ребрендинг KazTravel Co.<br> Адрес: 050000, Республика Казахстан, город Алматы, улица Толе Би 59<br>
                Сайт не является публичной офертой
            </p>
        </div>
        <div class="partners">
            <img src="/assets/img/footer/visa.svg" alt="partner">
        </div>
    </div>
</footer>